unused*.*
*admin*.txt
*access*.txt
*validate*.txt
*blocked*.txt
*domain-names*.txt
*executable*.txt
*folders*.txt
*/filenames*
*/news/*.txt
*/urls/*.txt
*/user-ids/*.txt
generate-unique-id*.txt
/pages/page-combo/start-here.txt
*cgi*.txt
*letters-for-short-names.txt
*.pl
